---
layout: base
---

<!--layout for landing page-->

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {{ content }} {% if site.paginate %} {% assign posts =
  paginator.posts %} {% else %} {% assign posts = site.posts %} {% endif %} {%-
  if posts.size > 0 -%} {%- if page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
  <span class="subsection-heading">Writing</span>
  <!-- <a class="subsection-heading" href="https://lfzuniga.com/writing/">Writing</a> -->
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li class="post-item">
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3 class="post-title">
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

    <!-- New section for projects -->
    <span class="subsection-heading">Projects</span>
    <ul class="post-list">
      {%- assign sorted_projects = site.projects | sort: 'date' | reverse -%}
      {%- for project in sorted_projects -%}
        <li class="post-item">
          <span class="project-meta">{{ project.date | date: "%Y" }}</span>
          <h3 class="post-title">
            <a class="post-link" href="{{ project.url | relative_url }}">
              {{ project.title | escape }}
            </a>
          </h3>
        </li>
      {%- endfor -%}
    </ul>


    
  <!-- {% if site.paginate %}
  <div class="pager">
    <ul class="pagination">
      {%- if paginator.previous_page %}
      <li>
        <a
          href="{{ paginator.previous_page_path | relative_url }}"
          class="previous-page"
          >{{ paginator.previous_page }}</a
        >
      </li>
      {%- else %}
      <li><div class="pager-edge">•</div></li>
      {%- endif %}
      <li><div class="current-page">{{ paginator.page }}</div></li>
      {%- if paginator.next_page %}
      <li>
        <a
          href="{{ paginator.next_page_path | relative_url }}"
          class="next-page"
          >{{ paginator.next_page }}</a
        >
      </li>
      {%- else %}
      <li><div class="pager-edge">•</div></li>
      {%- endif %}
    </ul>
  </div>
  {%- endif %} {%- endif -%} -->
</div>
